mat-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;

  mat-card-header {
    padding: 0;
    align-items: center;

    img {
      margin: 0;
      cursor: pointer;
    }

    mat-card-title {
      padding: 0;
      padding-left: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  mat-card-actions {
    gap: 0.5rem;
    padding: 0;
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  mat-card {
    mat-card-header {
      img {
        width: 30px !important;
        height: 30px !important;
      }

      mat-card-title {
        font-size: 0.9rem !important;
      }
    }
    mat-card-actions {
      button[mat-stroked-button],
      button[mat-flat-button] {
        height: 30px !important;
        padding: 0 15px !important;
      }
    }
  }
}
