:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .error {
    color: rgb(230, 73, 73);
    background-color: rgb(192, 133, 133);
    border: 1px solid rgb(230, 73, 73);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  form {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid var(--app-text-color);
    border-radius: 5px;

    h1 {
      color: var(--app-text-color);
      text-align: center;
    }

    mat-form-field {
      margin-bottom: 1rem;

      ::ng-deep .mat-mdc-form-field-icon-suffix button {
        margin: 0;
      }
    }

    button {
      margin-bottom: 1rem;
    }

    p {
      color: var(--app-text-color);

      a {
        text-decoration: underline;
        color: var(--app-primary-color);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  form {
    width: 45% !important;
  }
}

@media only screen and (max-width: 992px) {
  form {
    width: 55% !important;
  }
}

@media only screen and (max-width: 768px) {
  form {
    width: 65% !important;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 75% !important;
  }
}

@media only screen and (max-width: 400px) {
  form {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 14px;
    }
  }
}
