:host {
  h2 {
    font-size: 2rem;
    color: var(--app-text-color);
    padding: 1rem;
    margin: 0;
  }
  mat-dialog-actions {
    display: block;

    mat-form-field {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem !important;
  }
}
