a {
  color: var(--app-text-color);
  text-decoration: none;

  mat-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;

    mat-card-header {
      padding: 0;
      align-items: center;

      img {
        margin: 0;
      }

      mat-card-title {
        padding: 0;
        padding-left: 0.5rem;
        font-size: 1rem;
      }
    }
    mat-card-actions {
      gap: 0.5rem;
      padding: 0;
      padding-left: 0.5rem;
    }
  }
}
