:host {
  display: flex;
  gap: 2rem;

  div.suggested-button {
    display: none;
  }
}

.suggested-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.79);
}

@media only screen and (max-width: 992px) {
  :host {
    flex-direction: column;

    div.suggested-button {
      width: 80%;
      display: block !important;
      margin: auto;
    }

    app-posts {
      width: 100% !important;
    }

    app-suggested-list {
      width: 80% !important;
      margin-bottom: 20rem;

      ::ng-deep h5 {
        color: #e9e0e4;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  div.suggested-button {
    width: 100% !important;
  }

  app-posts ::ng-deep mat-card {
    width: 100% !important;
  }
}
