mat-card {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 0;

  .wrapper {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    max-width: 100%;

    img {
      margin: 0;
    }

    div.content-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      min-width: 0;
      mat-card-header {
        padding: 0;
        align-items: center;

        a {
          color: var(--app-text-color);
          text-decoration: none;
        }

        mat-card-title {
          padding: 0;
          padding-left: 0.5rem;
          font-size: 0.9rem;
        }
      }
      mat-card-content {
        max-width: 100%;
        font-size: 1.2rem;
        padding: 0;
        padding-left: 0.5rem !important;
        width: 200px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
    }
  }
  mat-card-actions {
    padding: 0;
    padding-left: 0.5rem;

    div {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  mat-card {
    width: 100% !important;
  }
}

@media only screen and (max-width: 450px) {
  mat-card {
    .wrapper {
      width: 60%;
    }
    mat-card-actions {
      width: 40%;
    }
  }
}
